@model IEnumerable<WebApp_BanNhacCu.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/SanPham_Layout.cshtml";
}

<div class="row g-4">
    @if (TempData["MessageError_MuaNgay"] != null)
    {
        <div class="alert alert-danger text-center fw-bold">
            @TempData["MessageError_MuaNgay"]
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const alertBox = document.querySelector(".alert");
                    if (alertBox) {
                        setTimeout(() => alertBox.style.display = "none", 3000);
                    }
                });
            </script>
        </div>
    }
    @if (!Model.Any())
    {
        <h3 class="text-center text-danger fw-bold mt-5">Không có sản phẩm phù hợp!</h3>
    }
    else
    {
        @foreach (var item in Model)
        {
            string tenfile = "";
            List<Hinh> dsHinh = ViewBag.DsHinh;
            @foreach (Hinh hinh in dsHinh)
            {
                if (hinh.MaSp == item.MaSp)
                {
                    tenfile = hinh.Url;
                    break;
                }
            }
            string url = "";
            if (tenfile == "")
            {
                url = "~/images/anhsp/default.png";
            }
            else
            {
                url = "~/images/anhsp/" + item.MaSp.Trim() + "/" + tenfile;
            }
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="col h-100">
                        <div class="card">
                            <a asp-controller="SanPham" asp-action="chiTiet" asp-route-id="@item.MaSp">
                                <div class="d-flex p-1 align-content-center" style="height: 250px">
                                    <img src="@Url.Content(url)" class="card-img-top" alt="Hình Sản Phẩm" style="object-fit:contain;">
                                </div>
                            </a>
                            <div class="card-body">
                                <h3 class="card-title fw-bold" style="height: 80px">@item.Tensp </h3>
                                <h5 class="card-text text-danger text-center mb-3" style="height: 20px">@String.Format("{0:N0} đ", item.Giasp)</h5>
                                <div class="d-flex w-100 justify-content-end">
                                    <form asp-controller="DonDatHang" asp-action="muaNgay" asp-route-id="@item.MaSp" method="post" class="flex-fill">
                                        <input type="hidden" name="soluong" value="1" />
                                        <button type="submit" class="btn btn-warning w-100 mt-2 fs-4">Mua ngay</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
@if (ViewBag.tongTrang > 1)
{
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center align-items-center">
            <li><a class="text-secondary me-2" href="@Url.Action("Index")"><i class="bi bi-chevron-double-left"></i></a></li>
            @for (int i = 1; i <= ViewBag.tongTrang; i++)
            {
                if (i == ViewBag.trangHienTai)
                {
                    <li class="page-item active">
                        <a class="page-link" href="@Url.Action("Index", new { trang = i })">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { trang = i })">@i</a>
                    </li>
                }
            }
            <li><a class="text-secondary ms-2" href="@Url.Action("Index", new { trang = ViewBag.tongTrang })"><i class="bi bi-chevron-double-right"></i></a></li>
        </ul>
    </nav>
}