@model IEnumerable<WebApp_BanNhacCu.Areas.Admin.MyModels.CDonDatHang>

@{
    ViewData["Title"] = "lichSuDDH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lịch sử đơn đặt hàng</h1>
@if (TempData["MessageError_ThanhToan"] != null)
{
    <div class="alert alert-danger text-center fw-bold">
        @TempData["MessageError_ThanhToan"]
    </div>
}
@if (TempData["MessageSuccess_ThanhToan"] != null)
{
    <div class="alert alert-success text-center fw-bold">
        @TempData["MessageSuccess_ThanhToan"]
    </div>
}
<div class="mt-2 mb-2">
    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Home">Quay về trang chủ</a>
</div>
<div class="border-1 rounded-1 shadow p-3">
    <table class="table">
        <thead>
            <tr>
                <th>
				    Mã đơn đặt hàng
                </th>
                <th>
				    Mã khách hàng
                </th>
                <th>
				    Địa chỉ
                </th>
                <th>
				    Ngày đặt
                </th>
                <th>
                    Tổng tiền
                </th>
                <th>
				    Trạng thái
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDdh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKh)
                </td>
                <td>
                    @(item.Diachi + ", "+ item.Phuongxa + ", "+ item.Tinhthanh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaydat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tongtien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trangthai)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="DonDatHang" asp-action="xemDDH" asp-route-id="@item.MaDdh">Xem chi tiết </a>
                </td>
                <td>
                    @if(item.Trangthai == "Chưa xác nhận" && item.TtThanhtoan == "Chưa thanh toán")
                    {
                       <a class="btn btn-outline-danger" asp-controller="DonDatHang" asp-action="huyDDH" asp-route-id="@item.MaDdh">Hủy đơn</a>
                    }
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const alertBox = document.querySelector(".alert");
        if (alertBox) {
            setTimeout(() => alertBox.style.display = "none", 3000);
        }
    });
</script>