@model IEnumerable<WebApp_BanNhacCu.Areas.Admin.MyModels.CDonDatHang>

@{
    ViewData["Title"] = "lichSuDDH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lịch sử đơn đặt hàng</h1>

<div>
    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Home">Quay về trang chủ</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
				Mã đơn đặt hàng
            </th>
            <th>
				Mã khách hàng
            </th>
            <th>
				Địa chỉ
            </th>
            <th>
				Ngày đặt
            </th>
            <th>
                Tổng tiên
            </th>
            <th>
				Trạng thái
            </th>
            <th>
				Tổng thanh toán
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDdh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaydat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tongtien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TtThanhtoan)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="xemDDH">Xem chi tiết </a>
            </td>
        </tr>
}
    </tbody>
</table>
