@model WebApp_BanNhacCu.Models.NguoiDung

@{
    ViewData["Title"] = "XemTaiKhoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4 class="text-center">Khách Hàng</h4>
    <hr />
    @if (TempData["MessageError_NguoiDung"] != null)
    {
        <div class="alert alert-danger mt-3">@TempData["MessageError_NguoiDung"]</div>
    }
    <dl class="row">
        <dt class = "col-sm-2">
            Mã Tài Khoản
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNd)
        </dd>
        <dt class="col-sm-2">
            Tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tennd)
        </dd>
        <dt class = "col-sm-2">
            Số điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Địa chỉ
        </dt>
        <dd class="col-sm-10">
            @if (Model.Diachi != null)
            {
                @Html.DisplayFor(model => model.Diachi)
            }
            else
            {
                <span>Chưa cập nhật</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="TaiKhoan" asp-action="formCapNhatTK" asp-route-id="@Model.MaNd" class="btn btn-secondary">Cập nhật thông tin</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
