@model IEnumerable<WebApp_BanNhacCu.Areas.Admin.MyModels.CNguoiDung>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="m-3 text-center">Quản Lý Tài Khoản</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaNd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tennd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tennd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                <a class="btn btn-outline-danger" asp-route-id="@item.MaNd" asp-action="formXoaTK">Đóng tài khoản</a>
                <a class="btn btn-outline-primary" asp-route-id="@item.MaNd" asp-action="formSuaTk">Sửa Email</a>
            </td>
        </tr>
}
    </tbody>
</table>

