@model IEnumerable<WebApp_BanNhacCu.Models.KhoHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="m-3 text-center">Kho</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluongton)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaycapnhat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluongton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhat)
            </td>
            <td>
					<a asp-action="formSua" asp-route-id="@item.MaSp" class="btn btn-outline-primary">Sửa số lượng</a> 
            </td>
        </tr>
}
    </tbody>
</table>
