@model IEnumerable<WebApp_BanNhacCu.Models.SanPham>

@{
    ViewData["Title"] = "Zyuuki Music Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ho-item:hover{
        transform: translateY(-10px);
    }

    .carousel-fade-wrapper {
        -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
        mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
    }

    .carousel-item img {
        object-fit: cover !important;
        max-height: 420px !important;
    }
</style>

<div id="sliderHome" class="carousel slide mb-5" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#sliderHome" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#sliderHome" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#sliderHome" data-bs-slide-to="2"></button>
    </div>

    <div class="carousel-fade-wrapper">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="~/images/slider/slider_1.jpg" class="d-block w-100">
            </div>

            <div class="carousel-item">
                <img src="~/images/slider/slider_2.jpg" class="d-block w-100">
            </div>

            <div class="carousel-item">
                <img src="~/images/slider/slider_3.jpg" class="d-block w-100">
            </div>

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#sliderHome" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#sliderHome" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>
<div class="container mb-5">
    <div class="row text-center mb-5" style="width: 500px; margin: auto; padding-top: 50px;">
        <h1 class="text-danger">Nhạc cụ cổ điển</h1>
        <p>
            Những sản phẩm nhạc cụ cổ điển chất lượng cao được tuyển chọn
            kỹ lưỡng từ các thương hiệu nổi tiếng thế giới
        </p>
    </div>
    @if (TempData["MessageError"] != null)
    {
        <div class="alert alert-danger text-center fw-bold">
            @TempData["MessageError"]
        </div>
    }
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var item in Model)
        {
            string tenfile = "";
            List<Hinh> dsHinh = ViewBag.DsHinh;
            @foreach (Hinh hinh in dsHinh)
            {
                if (hinh.MaSp == item.MaSp)
                {
                    if(hinh.Tenhinh != null )tenfile = hinh.Tenhinh;
                    break;
                }
            }
            string url = "";
            if (tenfile == "")
            {
                url = "~/images/anhsp/default.png";
            }
            else
            {
                url = "~/images/anhsp/" + item.MaSp.Trim() + "/" + tenfile;
            }
            <div class="col-md-4 mb-4 ho-item">
                <div class="card shadow h-100">
                    <div class="col h-100">
                        <div class="card">
                            <a asp-controller="SanPham" asp-action="chiTiet" asp-route-id="@item.MaSp">
                                <div class="d-flex align-content-center p-1" style="height: 400px">
                                    <img src="@Url.Content(url)" class="card-img-top" alt="Hình Sản Phẩm" style="object-fit:contain;">
                                </div>
                            </a>
                            <div class="card-body">
                                <h3 class="card-title fw-bold">@item.Tensp </h3>
                                <p class="card-text">Thương hiệu <small class="text-body-secondary">@(item.MaNsxNavigation != null ? item.MaNsxNavigation.Tennsx :"Unknown") </small></p>
                                <p class="card-text text-muted" style="height: 40px">@item.Mota</p>
                                <h4 class="card-text text-danger text-center mb-4">@String.Format("{0:N0} đ", item.Giasp) <span class="text-secondary ms-2 fs-5 text-decoration-line-through">@String.Format("{0:N0} đ", (item.Giasp + item.Giasp * 18 / 100))</span></h4>
                                <div class="d-flex w-100 justify-content-end">                
                                    <form asp-controller="DonDatHang" asp-action="muaNgay" asp-route-id="@item.MaSp" method="post" class="flex-fill">
                                        <input type="hidden" name="soluong" value="1" /> 
                                        <button type="submit" class="btn btn-warning w-100 mt-2 fs-4">Mua ngay</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <a asp-controller="SanPham" asp-action="Index" class="text-decoration-none fs-5 text-primary">Xem thêm</a>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const alertBox = document.querySelector(".alert");
        if (alertBox) {
            setTimeout(() => alertBox.style.display = "none", 3000);
        }
    });
</script>
