@model IEnumerable<WebApp_BanNhacCu.Models.SanPham>

@{
    ViewData["Title"] = "Zyuuki Music Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mb-5">
    <div class="text-center mb-5" style="width: 500px; margin: auto; padding-top: 50px;">
        <h1>Nhạc cụ cổ điển</h1>
        <p>
            Những sản phẩm nhạc cụ cổ điển chất lượng cao được tuyển chọn
            kỹ lưỡng từ các thương hiệu nổi tiếng thế giới
        </p>
    </div>
    @if (TempData["MessageError"] != null)
    {
        <div class="alert alert-danger text-center fw-bold">
            @TempData["MessageError"]
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const alertBox = document.querySelector(".alert");
                    if (alertBox) {
                        setTimeout(() => alertBox.style.display = "none", 3000);
                    }
                });
            </script>
        </div>
    }
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var item in Model)
        {
            string tenfile = "";
            List<Hinh> dsHinh = ViewBag.DsHinh;
            @foreach (Hinh hinh in dsHinh)
            {
                if (hinh.MaSp == item.MaSp)
                {
                    tenfile = hinh.Url;
                    break;
                }
            }
            string url = "";
            if (tenfile == "")
            {
                url = "~/images/anhsp/default.png";
            }
            else
            {
                url = "~/images/anhsp/" + item.MaSp.Trim() + "/" + tenfile;
            }
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="col h-100">
                        <div class="card">
                            <a asp-controller="SanPham" asp-action="chiTiet" asp-route-id="@item.MaSp">
                                <div class="d-flex align-content-center p-1" style="height: 400px">
                                    <img src="@Url.Content(url)" class="card-img-top" alt="Hình Sản Phẩm" style="object-fit:contain;">
                                </div>
                            </a>
                            <div class="card-body">
                                <h3 class="card-title fw-bold">@item.Tensp </h3>
                                <p class="card-text">Thương hiệu <small class="text-body-secondary">@item.MaNsxNavigation.Tennsx</small></p>
                                <p class="card-text text-muted" style="height: 40px">@item.Mota</p>
                                <h4 class="card-text text-danger text-center mb-4">@String.Format("{0:N0} đ", item.Giasp) <span class="text-secondary ms-2 fs-5 text-decoration-line-through">@String.Format("{0:N0} đ", (item.Giasp + item.Giasp * 18 / 100))</span></h4>
                                <div class="d-flex w-100 justify-content-end">                
                                    <form asp-controller="DonDatHang" asp-action="muaNgay" asp-route-id="@item.MaSp" method="post" class="flex-fill">
                                        <input type="hidden" name="soluong" value="1" /> 
                                        <button type="submit" class="btn btn-warning w-100 mt-2 fs-4">Mua ngay</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <a asp-controller="SanPham" asp-action="Index" class="text-decoration-none text-primary">Xem thêm</a>
    </div>
</div>

