@using WebApp_BanNhacCu.Areas.Carrier.MyModels
@model IEnumerable<WebApp_BanNhacCu.Areas.Carrier.MyModels.CDonDatHang>

@{
    ViewData["Title"] = "donHangVNPay";
    Layout = "~/Areas/Carrier/Views/Shared/_CarrierLayout.cshtml";
    List<CDonDatHang>? dsDonDangGiao = ViewBag.dsDonDangGiao as List<CDonDatHang>;
    List<CDonDatHang>? dsDonMoiNhan = ViewBag.dsDonMoiNhan as List<CDonDatHang>;
}
<h1 class="mt-4 mb-1 text-center fw-bold text-uppercase text-danger">Tình trạng đơn hàng</h1>
<h6 class="mb-4 text-center fw-bold text-uppercase text-secondary">Đã thanh toán</h6>
<div class="row border-1 rounded-1 shadow bg-light p-3 m-4">
    <table class="table border-0" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaDdh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nguoinhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sdt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diachi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ngaydat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tongtien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trangthai)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (dsDonMoiNhan != null)
            {    
                @foreach (var item in dsDonMoiNhan)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaDdh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nguoinhan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sdt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diachi)
                        </td>
                        <td>
                            @(item.Ngaydat.HasValue ? item.Ngaydat.Value.ToShortDateString() : "--/--/----")
                        </td>
                        <td>
                            @String.Format("{0:N0}", item.Tongtien)
                        </td>
                        <td>
                            <span class="badge bg-warning">@item.Trangthai</span>
                        </td>
                        <td>
                            <a class="btn btn-outline-success" asp-action="xacNhan" asp-route-id="@item.MaDdh">Xác nhận</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<hr/>
<br />
<div class="row border-1 rounded-1 shadow bg-light p-3 m-4">
    <table class="table border-0" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaDdh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nguoinhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sdt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diachi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ngaydat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tongtien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trangthai)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (dsDonDangGiao != null){
                @foreach (var item in dsDonDangGiao)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaDdh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nguoinhan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sdt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diachi)
                        </td>
                        <td>
                            @(item.Ngaydat.HasValue? item.Ngaydat.Value.ToShortDateString() : "--/--/----")
                        </td>
                        <td>
                            @String.Format("{0:N0}", item.Tongtien)
                        </td>
                        <td>
                            <span class="badge bg-info">@item.Trangthai</span>
                        </td>
                        <td>
                            <a class="btn btn-outline-success" asp-action="hoanThanhVNPay" asp-route-id="@item.MaDdh">Đã giao hàng</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<hr />
<br />
<div class="row border-1 rounded-1 shadow bg-light p-3 m-4">
    <table class="table border-0" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaDdh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nguoinhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sdt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diachi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ngaydat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tongtien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trangthai)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDdh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nguoinhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diachi)
                </td>
                <td>
                    @(item.Ngaydat.HasValue? item.Ngaydat.Value.ToShortDateString() : "--/--/----")
                </td>
                <td>
                    @String.Format("{0:N0}", item.Tongtien)
                </td>
                <td>
                    <span class="badge bg-success">@item.Trangthai</span>
                </td>
                <td>
                   <button class="btn btn-outline-success" disabled><i class="bi bi-check2-all"></i></button>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>