@using WebApp_BanNhacCu.Areas.Carrier.MyModels
@model IEnumerable<WebApp_BanNhacCu.Areas.Carrier.MyModels.CDonDatHang>

@{
    ViewData["Title"] = "donHangVNPay";
    Layout = "~/Areas/Carrier/Views/Shared/_CarrierLayout.cshtml";
    List<CDonDatHang>? dsDonDangGiao = ViewBag.dsDonDangGiao as List<CDonDatHang>;
}
<h1 class="mt-4 mb-1 text-center fw-bold text-uppercase text-danger">Tình trạng đơn hàng</h1>
<h6 class="mb-4 text-center fw-bold text-uppercase text-secondary">Đã thanh toán</h6>
<div class="row justify-content-center">
    <a class="btn btn-success text-center border-1 rounded-1" style="width:fit-content" asp-action="donDaGiaoVNPay">Đơn đã giao</a>
</div>
<div class="bg-white py-3">
    <h5 class="ms-5 mb-0 text-warning fw-bold">Đơn chờ giao</h5>
</div>
<div class="row border-1 rounded-1 shadow bg-light p-3 m-4">
    <table class="table border-0" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaDdh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nguoinhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sdt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diachi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trangthai)
                </th>
                <th>Chi tiết</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaDdh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nguoinhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sdt)
                    </td>
                    <td style="max-width:250px">
                        @(item.Diachi + ", " + item.Phuongxa + ", " + item.Tinhthanh)
                    </td>
                    <td>
                        <span class="badge bg-warning">Chờ giao hàng</span>
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-route-id="@item.MaDdh" asp-action="chiTietDDH"><i class="bi bi-ticket-detailed"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-outline-success" asp-action="giaoHang" asp-route-id="@item.MaDdh">Giao hàng</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div class="bg-white py-3">
    <h5 class="ms-5 mb-0 text-primary fw-bold">Đơn đang giao</h5>
</div>
<div class="row border-1 rounded-1 shadow bg-light p-3 m-4">
    <table class="table border-0" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaDdh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nguoinhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sdt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diachi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trangthai)
                </th>
                <th>Chi tiết</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (dsDonDangGiao != null)
            {
                @foreach (var item in dsDonDangGiao)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaDdh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nguoinhan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sdt)
                        </td>
                        <td style="max-width:250px">
                            @(item.Diachi + ", " + item.Phuongxa + ", " + item.Tinhthanh)
                        </td>
                        <td>
                            <span class="badge bg-info">Đang giao hàng</span>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" asp-route-id="@item.MaDdh" asp-action="chiTietDDH"><i class="bi bi-ticket-detailed"></i></a>
                        </td>
                        <td>
                            <a class="btn btn-outline-success" asp-action="daGiao" asp-route-id="@item.MaDdh">Đã giao hàng</a> |
                            <a class="btn btn-outline-danger" asp-action="giaoThatBai" asp-route-id="@item.MaDdh">Giao thất bại</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>