@model IEnumerable<WebApp_BanNhacCu.Areas.Admin.MyModels.CSanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="m-3 text-center">Quản Lý Sản Phẩm</h1>

<p class="text-center">
    <a class="btn btn-outline-success me-3" asp-action="formThemSP">Thêm Sản Phẩm</a>
</p>
<div class="row">
    <div class="row col-sm-8">
        @* <form class="d-flex" method="post" asp-action="locSanPham">
            <div class="col-sm-4 border border-secondary rounded-2" >
                
            </div>
            <div class="col-sm-4 border border-secondary rounded-2 ms-1" >
                
            </div>
            <div class="col-sm-3 border border-secondary rounded-2 ms-1">
                
            </div>
            <div class="col-sm-1 border border-secondary rounded-2 ms-1">
                <button type="submit" class="btn rounded-2"><i class=""></i></button>
            </div>
        </form> *@
    </div> 
    <div class="col-sm-4 d-flex flex-row justify-content-end">
        <div class="border border-secondary rounded-2" style="width:250px">
        <form class="d-flex" method="post" asp-action="timKiem">
            <input class="form-control border-0 " type="search" name="MaSp" placeholder="Tìm kiếm sản phẩm.." required>
            <button type="submit" class="btn rounded-2"><i class="bi bi-search"></i></button>
        </form>
        </div>
    </div>
</div>
@if(!Model.Any())
{
    <div style="height:150px">
        <h4 class="text-center fs-4 text-danger">Không tìm thấy sản phẩm phù hợp!</h4>
    </div>
}else{
<table class="table">
    <thead>
        <tr>
            <th>
                Ảnh
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tensp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNsx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Giasp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        string tenfile = "~/images/anhsp/";
                    }
                    <img src="@Url.Content(tenfile)" alt="Hinh Anh" width="100" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tensp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNsx)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Giasp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mota)
                </td>
                <td>
                    <a class="btn btn-outline-danger" asp-route-id="@item.MaSp" asp-action="formXoaSP">Xóa</a>
                    <a class="btn btn-outline-primary" asp-route-id="@item.MaSp" asp-action="formSuaSP">Sửa</a>
                    <a class="btn btn-outline-primary" asp-route-id="@item.MaSp" asp-action="chiTietSP">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}

